<div class="dropdown dropdown-cart">
    <a href="@Url.Action("Cart","Cart")" class="dropdown-toggle lnk-cart">
        <div class="items-cart-inner">
            <div class="basket">
                <i class="glyphicon glyphicon-shopping-cart"></i>
            </div>
            <div class="basket-item-count"><span class="count">@ViewBag.TotalQuantity</span></div>
            <div class="total-price-basket">
                <span class="lbl">Giỏ hàng</span>
            </div>


        </div>
    </a>
</div>
